@media (min-width: 767px) {
    .menu-cta-select { display: none; }
}

.btn { background-color: #B34141; font-weight: bold; color: #fff!important; padding: 6px; border-radius: 4px; }

#post-area { background-color: #B34141; }
.pinbin-image img, .img-fluid { max-width: 100%; }
.pinbin-category { color: #fff; font-weight: bold; padding: 0 6px 0 6px; margin-top: -52px; height: 46px; }
